# 1. dodaję gitignore wraz z treścią poniżej
.idea/
target/
*.iml
/src/main/resources/jdbc.properties

# 2. dopiero po pierwszym commicie dodajemy do projektu plik
#           jdbc.properties i robimy commita.
